.heading {
    font-family: 'Khand', sans-serif;
    color: #3a3a3a;
    font-weight: bold;
    margin: 0;
    user-select: none;
}
.subheading {
    font-family: 'Khand', sans-serif;
    color: #3a3a3a;
    font-weight: normal;
    letter-spacing: 1em;
    text-indent: 1em;
    margin: 0;
    margin-bottom: 40px;
    opacity: .7;
    user-select: none;
}