@font-face {
    font-family: "Khand";
    src: url("../font/webfont/Khand-Regular.woff2");
    src: url("../font/webfont/Khand-Regular.woff") format("woff");
}
body {
    background-color: #eaeaea;
    margin: 0;
}
.main-column {
    display: flex;
    height: 99vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}