.table {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: 'Khand', sans-serif;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgb(189, 189, 189);
}
.table td {
    font-size: 85%;
}
.table th p {
    display: inline;
    cursor: pointer;
}
.table th {
    font-size: 95%;
    font-weight: normal;
    user-select: none;
}
.table th, .table td {
    padding: 5px;
    text-align: left;
}
.table td:nth-child(1), .table th:nth-child(1) {
    min-width: 20px;
}
.table td:nth-child(2), .table th:nth-child(2) {
    min-width: 150px;
}
.table td:nth-child(3), .table th:nth-child(3) {
    min-width: 100px;
}
.table td:nth-child(4), .table th:nth-child(4) {
    min-width: 100px;
}
.table td:nth-child(5), .table th:nth-child(5) {
    min-width: 100px;
}
.table td:nth-child(6), .table th:nth-child(6) {
    width: 99%;
}
.table thead {
    background-color: #3a3a3a;
    color: #FDFDFD;
}
.table thead tr {
    display: block;
    position: relative;
}
.table tbody {
    display: block;
    overflow: auto;
    background-color: #f8f8f8;
    width: 100%;
    height: 50vh;
}
.table tbody tr:nth-child(even) {
    background-color: #dddddd;
}