<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="public/img/favicon.png" rel="icon">
    <link href="public/css/index.css" rel="stylesheet">
    <link href="public/css/heading.css" rel="stylesheet">
    <link href="public/css/panel.css" rel="stylesheet">
    <link href="public/css/progress.css" rel="stylesheet">
    <link href="public/css/table.css" rel="stylesheet">
    <link href="public/css/notification.css" rel="stylesheet">
    <title>Crawler - r/EmPortugues</title>
</head>
<body>
    <div id="main">
        <div class="main-column">
            {% heading %}
            {% table %}
            {% progress %}
            {% panel %}
        </div>
    </div>
    {% notification %}
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="public/js/Subreddit.js"></script>
    <script src="public/js/Requester.js"></script>
    <script src="public/js/Output.js"></script>
    <script src="public/js/Table.js"></script>
    <script src="public/js/Panel.js"></script>
    <script src="public/js/ProgressBar.js"></script>
    <script src="public/js/Column.js"></script>
    <script src="public/js/Scraper.js"></script>
    <script src="public/js/Formatter.js"></script>
    <script src="public/js/Input.js"></script>
    <script src="public/js/app.js"></script>
</body>
</html>