<table id="table" class="table">
    <thead>
        <tr>
            <th><!-- icons --></th>
            <th>
                <input id="subreddit-cb" class="checkbox" type="checkbox" checked> 
                <p id="subreddit-sc" onclick="selectColumn(this);">Subreddit</p>
            </th>
            <th>
                <input id="subs-cb" class="checkbox" type="checkbox" checked> 
                <p id="subs-sc"  onclick="selectColumn(this);">Subs ▾</p>
            </th>
            <th>
                <input id="created-cb" class="checkbox" type="checkbox"> 
                <p id="created-sc"  onclick="selectColumn(this);">Criação</p>
            </th>
            <th>
                <input id="nsfw-cb" class="checkbox" type="checkbox"> 
                <p id="nsfw-sc"  onclick="selectColumn(this);">NSFW</p>
            </th>
            <th>
                <input id="description-cb" class="checkbox" type="checkbox" checked> 
                <p id="description-sc"  onclick="selectColumn(this);">Descrição</p>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>