<table id="table" class="table">
    <thead>
        <tr>
            <th><!-- icons --></th>
            <th>
                <input id="subreddit-cb" class="checkbox" type="checkbox" checked> 
                <p id="subreddit-sc" class="column-name">Subreddit</p>
            </th>
            <th>
                <input id="subs-cb" class="checkbox" type="checkbox" checked> 
                <p id="subs-sc" class="column-name">Subs ▾</p>
            </th>
            <th>
                <input id="created-cb" class="checkbox" type="checkbox" checked> 
                <p id="created-sc" class="column-name">Criação</p>
            </th>
            <th>
                <input id="nsfw-cb" class="checkbox" type="checkbox" checked> 
                <p id="nsfw-sc" class="column-name">NSFW</p>
            </th>
            <th>
                <input id="description-cb" class="checkbox" type="checkbox" checked> 
                <p id="description-sc" class="column-name">Descrição</p>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>